<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">
</head>
<body>
	<header th:fragment="header">
		<nav class="nav bg-dark">
			<a class="nav-link active" href="https://spring.io/" target="_blank">Spring</a>  
			<a class="nav-link" th:href="@{/index}">Home</a> 
			<a class="nav-link" th:href="@{/listar}">Cliente</a> 
			<a class="nav-link" href="#">About</a> 
			<a class="nav-link disabled" href="#">Disabled</a>
		</nav>
		
		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
		
	</header>
	<div class="container">
	</div>
	<footer th:fragment="footer" class="container">
		<img th:src="@{/media/img1.png}" alt="logo"/>
		<p>&copy; dlrjad 2018</p>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	</footer>
</body>
</html>